* {
    color: white;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to bottom right, #000000, #363333);
    min-height: 100vh;
}

h1, h2, p {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px;
}

h1, h2 {
    font-weight: 800;
}

h1 {
    font-size: 55px;
}

h2 {
    color: red;
    font-size: 50px;
}

ul {
    display: grid;
    list-style-type: none;
    align-items: center;
}

li {
    display: grid;
    align-items: center;
    justify-content: center;
}

button {
    background: linear-gradient(to bottom right, #000000, #363333);
    width: 600px;
    margin: 5px;
    height: fit-content;
    min-height: 40px;
    font-size: large;
    padding: 10px;
}

.correct {
    border: 3px solid green;
}

.incorrect {
    border: 3px solid red;
}

.questionNo {
    font-weight: 700;
    font-size: 30px;
}

.question {
    font-size: 25px;
}